<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python App pour projet Finale</title>
</head>
<body>
       <h1>En voila un gentil python, good boy! </h1>

        {{ valeur }}
</body>
</html>